{% extends "base.html" %}
{% block title %}{{ "Edit Group" if group else "Create Group" }} - Gatekeeper{% endblock %}

{% block content %}
<h1>{% if group %}Edit Group: {{ group.name }}{% else %}Create Group{% endif %}</h1>

<form method="post"
      action="{{ url_for('admin_groups.edit_group', name=group.name) if group else url_for('admin_groups.create_group') }}">
    {% if not group %}
    <label for="name">
        Name
        <input type="text" id="name" name="name" required autofocus>
    </label>
    {% endif %}

    <label for="description">
        Description
        <input type="text" id="description" name="description" value="{{ group.description if group else '' }}">
    </label>

    <div style="display: flex; gap: 0.5rem;">
        <button type="submit" style="flex: 1;">{{ "Save" if group else "Create" }}</button>
        <button type="button" class="outline secondary" style="flex: 1;" onclick="location.href='{{ url_for('admin_groups.list_groups') }}'">Cancel</button>
    </div>
</form>
{% endblock %}
